<div class="container-fluid">
  <div class="banner">
    <img src="/images/support-landing-page/how-to-order-flex/how-to-order-flex-banner.jpg" class="img-fluid">
    <div class="top-center-container">
      <div class="light-text">
        <h1>ValuFlex</h1>
        <h2>how to order</h2>
        
      </div><!-- .light-text -->
    </div><!-- .img-fluid -->
  </div><!-- .banner -->
</div><!-- .container-fluid -->

<div class="container">
  <div class="row landing-text-container">
    <div class="col-12 banner">

        <h1>Valuflex&#8482;: How to order curved mouldings</h1>
        <p>Use part number of desired pattern, the species and add an "F" for Valuflex.</p>
        <p>&nbsp;</p>
        <h3>I. Casings</h3>
        <ol type="A">
        <li>On true half-circles, order by radius (equals 1/2 of diameter) or by diameter. Please state "Radius" or "Diameter" when ordering.</li>
        <li>When ordering arches, please state "span and rise" (ie: 21" span x 6" rise)</li>
        <li>Ellipses always require a template.</li>
        </ol>
        <p>&nbsp;</p>
        <img src="/images/support-landing-page/how-to-order-flex/resources-elandel-valueflex1.gif" alt="Casing" />
        <p>Fig. 1: Length = Radius + Width of Moulding x 3.145 &divide; 12. For Full Circle Multiply Half Circle Footage by 2.</p>
        <p>Fig. 2: Casing: Length = Width + Height + 6" &divide; 12. Crown: Length = Width + Height + 12" &divide; 12.</p>
        <p>Fig. 3: Paper or cardboard templates must be provided.</p>
        <p>Fig. 4: Ovals: 1. A paper or cardboard template must be provided. 2. Specify ISR (concave) or OSR (convex). We manufacture the FLEX so that the seams are in the middle as
shown in the drawing. This allows for easier installation.</p>
        <p>&nbsp;</p>

        <img src="/images/support-landing-page/how-to-order-flex/resources-elandel-valueflex2.gif" alt="Crowns" style="float:right; margin:0 0 0 20px;" />
        <h3>II. Crowns</h3>
        <ol type="A">
        <li>Does the wall curve inside (concave) or outside (convex)?</li>
        <li>Radius of wall - ISR (inside radius), OSR (outside radius).</li>
        <li>Length of moulding needed (add for waste) to cover entire area.</li>
        <li>How many pieces.</li>
        </ol>
        <p>&nbsp;</p><div class="clearfix"></div>

        <img src="/images/support-landing-page/how-to-order-flex/resources-elandel-valueflex3.gif" alt="Crown Built Ups" style="float:right; margin:0 0 0 20px;" />
        <h3>III. Crown Built Ups</h3>
        <ol type="A">
        <li>Order as ISR (Concave) or OSR (Convex) radius.</li>
        <li>Any moulding used on the wall: order as straight.</li>
        <li>Any moulding used on the ceiling: order as a radius.
        	<ol>
            <li>On an OSR (outside radius), you must add the projection of the
crown to the ceiling moulding radius. Example: If using the 330MUL
on a ceiling with the 410MUL crown which has a projection of 4-1/2"
and the wall is a 60" radius, 330MUL should be ordered as a
64-1/2" radius.</li>
            <li>On an ISR (inside radius), you must subtract the projection of the
crown from the radius, therefore a wall with a 60" radius less the
4-1/2" projection = 55-1/2" ISR for the 330MUL.</li>
            </ol>
        </li>
        </ol>
        <p>&nbsp;</p><div class="clearfix"></div>

        <img src="/images/support-landing-page/how-to-order-flex/resources-elandel-valueflex4.gif" alt="Bases" style="float:right; margin:0 0 0 20px;" />
        <h3>IV. Bases</h3>
        <ol type="A">
        <li>If Base is being used as Baseboard or as part of a Crown detail on a wall, the Flex
Base does not need to be pre-cast to any radius. They are sold as straights
and only total lineal footage is needed.</li>
        <li>If Baseboards are used as Casing the base must be ordered to the radius
(like section I). If base is being used as part of a Crown detail where they
lay flat on the ceiling (not on the wall), then information as indicated in
section III C1 or C2 must be provided.</li>
        </ol>
        <p>&nbsp;</p><div class="clearfix"></div>

        <img src="/images/support-landing-page/how-to-order-flex/resources-elandel-valueflex5.gif" alt="Panel Moulds or Lineal Moulds" style="float:right; margin:0 0 0 20px;" />
        <h3>V. Panel Moulds or Lineal Moulds</h3>
        <ol type="A">
        <li>If used horizontally on curved walls, straight lengths will work.</li>
        </ol>
        <p>&nbsp;</p>

        <h3>VI. Backbands</h3>
        <!-- images here -->
        <ol type="A">
        <li>Radius on main casing that backband is to attach to.</li>
        <li>Type of curve (arch, ellipse, half-circle and information
under Casings)</li>
        <li>Moulding part numbers, species, length, and count.</li>
        </ol>
        <p>&nbsp;</p>

        <p><a href="/images/support-landing-page/how-to-order-flex/valuflex-order-form.pdf"><img src="/images/support-landing-page/how-to-order-flex/pdficon_small.gif" alt="PDF" /> Click here</a> for Valuflex&#8482; order form.</p>


        </div>
    </div><!-- .col-xs-12.col-md-4.landing-text-box -->
</div><!-- .container -->
   