<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/how-to-order-flex/valuflex-landing-banner-measuring-xs.jpg  576w,
            /images/support-landing-page/how-to-order-flex/valuflex-landing-banner-measuring-sm.jpg  768w,
            /images/support-landing-page/how-to-order-flex/valuflex-landing-banner-measuring-md.jpg  992w,
            /images/support-landing-page/how-to-order-flex/valuflex-landing-banner-measuring-lg.jpg 1200w,
            /images/support-landing-page/how-to-order-flex/valuflex-landing-banner-measuring-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/how-to-order-flex/valuflex-landing-banner-measuring-xl.jpg"
          alt="ValuFlex™ how to order"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>ValuFlex</h1>
            <h2>how to order</h2>
            <a
            href="/landing-pages/valuflex"
            class="btn btn-sm btn-elandel"
            ><i class="fal fa-chevron-left"></i
              > Back to Valuflex </a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12 -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row justify-content-center landing-text-container">
    <div class="col-12 col-md-8 text-center  landing-text-box">
      <!-- <h1>Valuflex&#8482;: How to order curved mouldings</h1> -->
      <p style="font-size: 1rem">
        Matching flexible moulding is available for arched and oval windows, as
        well as curved walls and ceilings. ValuFlex gives you all the advantages
        of radiused wood at a fraction of the cost!
      </p>
    </div>
  </div>
  <div class="row landing-text-container">
    <!-- .col-12 landing-text-box-->
    <div class="col-12 col-sm-7 col-md-4 text-center  px-1  landing-text-box">
      <h1>How To Measure</h1>
    </div>
    <!-- col-12 col-sm-6  col-md-3 -->
    <div class="col-sm-5 d-none align-self-center d-sm-block col-md-8 ">
      <div
        style="width: 100%; height: 2rem; background-color:#0054a6; border-radius: 0.25rem; "
      ></div>
    </div>
  </div>
  <!-- .row -->
  <div class="row justify-content-center landing-text-container">
    <div class="col-12 col-sm-6  col-md-3 landing-text-box">
      <h2 class="text-center">Half Circle</h2>
      <p>
        <strong
          >Length = Radius + Width of Moulding × 3.145 ÷ 12 (For full-circle,
          Multiply half-circle footage by 2)</strong
        >
      </p>
      <img
        src="/images/support-landing-page/how-to-order-flex/inset-1-valuflex-measuring-halfcircle-inset1.jpg "
        class="d-block w-100"
        alt="valuflex measuring halfcircle"
      />
    </div>
    <div class="col-12 col-sm-6  col-md-3 landing-text-box">
      <h2 class="text-center">Archtop</h2>
      <p class="mb-0 text-center">(Eyebrow or Springline)</p>
      <p>
        <strong>
          Casing: Length = Width + Height + 6" ÷ 12" Crown: Length = Width +
          Height + 12" ÷ 12"</strong
        >
      </p>
      <img
        src="/images/support-landing-page/how-to-order-flex/inset-2-valuflex-measuring-archtop.jpg "
        class="d-block w-100"
        alt="valuflex measuring archtop"
      />
    </div>
    <div class="col-12 col-sm-6  col-md-3 landing-text-box">
      <h2 class="text-center">Oval</h2>
      <p>Paper or Cardboard Template <strong> (Always Required) </strong></p>
      <img
        src="/images/support-landing-page/how-to-order-flex/inset-3-valuflex-measuring-oval.jpg "
        class="d-block w-100"
        alt="valuflex measuring oval"
      />
    </div>
    <div class="col-12 col-sm-6  col-md-3 landing-text-box">
      <h2 class="text-center">Ellipse</h2>
      <p>Paper or Cardboard Template <strong> (Always Required) </strong></p>
      <img
        src="/images/support-landing-page/how-to-order-flex/inset-4-valuflex-measuring-ellipse.jpg "
        class="d-block w-100"
        alt="valuflex measuring ellipse"
      />
    </div>
    <!--  col-12 col-md-6 text-center   landing-text-container -->
  </div>
  <div class="row landing-text-container ">
    <div class="col-12 d-none align-self-center d-sm-block">
      <div
        style="width: 100%; height: 2rem; background-color:#0054a6; border-radius: 0.25rem; "
      ></div>
    </div>
    <!-- col-12 d-none align-self-center d-sm-block -->
  </div>
  <!-- row -->

  <div class="row justify-content-center landing-text-container">
    <div class="col-12 col-md-4 landing-text-box">
      <h2 class="text-center">Crown</h2>

      <img
        src="/images/support-landing-page/how-to-order-flex/inset-5-valuflex-measuring-crown.jpg "
        class="d-block w-100"
        alt="valuflex measuring crown"
      />
      <ol>
        <li type="A">
          <p>Does the wall curve inside (concave) or outside (convex)?</p>
        </li>
        <li type="A">
          <p>Radius of wall - IR (inside radius), OR (outside radius)</p>
        </li>
        <li type="A">
          <p>Length of moulding needed (add for waste) to cover entire area</p>
        </li>
        <li type="A"><p>How many pieces?</p></li>
      </ol>
    </div>
    <div class="col-12 col-md-4 landing-text-box ">
      <h2 class="text-center">Crown, Built Ups</h2>

      <img
        src="/images/support-landing-page/how-to-order-flex/inset-6-valuflex-measuring-crown-builtups.jpg "
        class="d-block w-100"
        alt="valuflex-measuring-crown-builtups"
      />
      <ol>
        <li type="A">
          <p>
            Order as IR (Inside Radius, aka: Concave) or (Outside Radius, aka:
            Convex) radius.
          </p>
        </li>
        <li type="A"><p>Any moulding used on the wall: order as</p></li>
        <li type="A">
          <p>Any moulding used on the ceiling: order as a radius.</p>
          <ol class="landing-text-box">
            <li>
              <p>
                OR (Outside Radius), you must add the projection of the crown to
                the ceiling moulding radius. Example: If using the 330MUL on a
                ceiling with the 410MUL crown which has a projection of 4½” and
                the wall is a 60” radius, 330MUL should be ordered as a 64½”
                radius.
              </p>
            </li>
            <li>
              <p>
                IR (Inside Radius), you must subtract the projection of the
                crown from the radius, therefore a wall with a 60” radius less
                the 4½” projection = 55½” ISR for the 330MUL.
              </p>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col-12 col-md-4 text-center landing-text-box">
      <h2 class="text-center">Base</h2>
      <img
        src="/images/support-landing-page/how-to-order-flex/inset-7-valuflex-measuring-base.jpg "
        class="d-block w-100"
        alt="valuflex-measuring-base"
      />
      <ol>
        <li type="A">
          <p>
            If Base is being used as Baseboard or as part of a Crown detail on a
            wall, the Flex Base does not need to be pre-cast to any radius. They
            are sold as straights and only total lineal footage is needed.
          </p>
        </li>
        <li type="A">
          <p>
            If Baseboards are used as Casing the base must be ordered to the
            radius (like "Casing" section). If base is being used as part of a
            Crown detail where they lay flat on the ceiling (not on the wall),
            then information as indicated in "Crown, Build-Up" section C1 or C2
            must be provided.
          </p>
        </li>
      </ol>
    </div>
  </div>
  <!-- row -->
  <div class="row landing-text-container ">
    <div class="col-12 col-md-4 text-center landing-text-box">
      <h2>Casing</h2>

      <ol>
        <li type="A">
          <p>
            On true half-circles, order by radius (equals ½ of diameter) or by
            diameter. (Please state “radius” or “diameter” when ordering.)
          </p>
        </li>
        <li type="A">
          <p>
            When ordering arches, please state “span and rise” (ie: 21” span x
            6” rise)
          </p>
        </li>
        <li type="A">
          <p>Ellipses & Ovals always require a template.</p>
        </li>
      </ol>
    </div>
    <div class="col-12 col-md-4 text-center landing-text-box">
      <h2>Ovals</h2>

      <ol>
        <li type="A">
          <p>A paper or cardboard template must be provided.</p>
        </li>
        <li type="A">
          <p>
            Specify IR (Inside Radius aka: concave) or OR (Outside Radius
            aka:convex)
          </p>
        </li>
        <li type="A">
          <p>
            We manufacture the FLEX so that the seams are in the middle as shown
            in the drawing (to the left). This allows for easier installation.
          </p>
        </li>
      </ol>
    </div>
    <div class="col-12 col-md-4 text-center  landing-text-box">
      <h2>Panel Moulds, Lineal Moulds, Chair Rail</h2>

      <ol>
        <li type="A">
          <p>
            If used horizontally on curved walls, straight lengths will work.
          </p>
        </li>
      </ol>
    </div>
    <!-- col-12 col-md-4 -->
  </div>
  <!-- row -->
  <div class="row justify-content-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box">
      <img
        src="/images/support-landing-page/how-to-order-flex/inset-8-valuflex-measuring-hints-on-how-to-figure-radius.jpg"
        class="d-block w-100"
        alt="valuflex measuring hints on how to figure radius"
      />
    </div>
    <!-- col-6 -->
    <div class="col-12 landing-text-box">
      <h2 class="text-center">5-Year Warranty</h2>
      <p>
        EL & EL Wood Products Corporation warrants that for 5-years ValuFlex™
        moulding is free from defects in material and workmanship. Upon proper
        installation of the moulding, EL & EL Wood Products will repair or
        replace, at its option, any ValuFlex moulding that has failed as a
        result of defective material or workmanship, of EL & EL Wood Products.
        ValuFlex is not warrantied for exterior use. In the event of a claim
        against this warranty, proof of purchase, with date, will be required to
        affect such a claim. Installation and finishing cost is not included. No
        other warranty is expressed or implied.
      </p>
    </div>
    <!-- col-12 landing-text-box -->
  </div>
  <!-- row -->
</div>
<!-- .container -->
